// main: style.less

@header-highlight-lighter: #1F98C7;
@header-highlight-darker: #0084b4;
@header-inactive: rgb(102, 117, 127);

@really-light-blue: #9ce2ef;

@white: #fff;

@search-colour: #ccc;
@search-focus-colour: #667565;

@background-colour: @really-light-blue;
@link-colour: @header-highlight-darker;