// main: style.less

@header-highlight-lighter: #1F98C7;
@header-highlight-darker: #0084b4;
@header-inactive: rgb(102, 117, 127);

@tweet-button: rgba(31, 152, 199, 0.8);

@bird-colour: #55acee;

@really-light-blue: #9ce2ef;

@reply-background: #E8F4F9;
@reply-box-border-colour: rgba(31, 152, 199, 0.247059);

@white: #fff;

@search-colour: #ccc;
@search-focus-colour: #667565;

@heading-colour: rgb(102, 117, 127);
@tweet-name-colour: #292f33;
@tweet-username-colour: rgb(136, 153, 166);
@tweet-icons-colour: rgb(204, 214, 221);
@tweet-icons-hover: rgb(136, 153, 166);

@background-colour: rgb(192, 222, 237);
@link-colour: @header-highlight-darker;



@sans: 'Helvetica Neue', Arial, sans-serif;

@font-face {
	font-family: 'rosettaicons';
	src: url('../fonts/rosetta-icons-Regular.eot'); /* IE9 Compat Modes */
	src: url('../fonts/rosetta-icons-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('../fonts/rosetta-icons-Regular.woff') format('woff'), /* Modern Browsers */
	     url('../fonts/rosetta-icons-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}