// out: ../css/style.css

@import '_variables.less';
@import '_mixins.less';

* { box-sizing: border-box; }

body {
  font-family: @sans;
  background: url('../img/bg.png') no-repeat;
  background-color: @background-colour;
}

a {
  color: @link-colour;
  text-decoration: none;
  
  &:hover {
    text-decoration: underline;
  }
}

.hidden {
  display: none;
}

body > header {
  background-color: @white;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 10;
  .clearfix;
  .box-shadow (0, 1px, 1px, 0.25);
  
  nav {
    float: left;
    margin-left: 11%;
  }
  
  ul {
    margin-bottom: -2px;
  }
  
  .extra-controls {
    float: right;
    margin-right: 11.5%;
  }
  
  nav li {
    display: inline-block;
    
    a {
      display: block;
      height: 46px;
      padding: 0.6em 1em;
      .clearfix;
      transition: all .15s ease-in-out;
      
      &.active {
        border-bottom: 4px solid @header-highlight-lighter;
      }
      
      &:hover {
        border-bottom: 4px solid @header-highlight-lighter;
        
        .nav-text, .nav-icon {
          color: @header-highlight-lighter;
        }
      }
    }
    
    .nav-text {
      font-size: 13px;
      font-weight: 500;
      margin-top: 8px;
      margin-left: 0.25em;
      display: inline-block;
      color: @header-inactive;
      float: right;
    }
  }
  
  input[type=search] {
    background-color: @header-inactive;
    color: rgb(255, 255, 255);
    font-weight: 500;
    .placeholder-colour(@white);
    opacity: 0.6;
    border: none;
    padding: 0.75em;
    width: 200px;
    position: relative;
    top: 4px;
    .border-radius(15px);
    
    &:focus {
      outline: none;
      opacity: 1;
      background-color: @search-focus-colour;
    }
  }
}

#settings-menu {
  display: none;
}

.extra-controls {
  .icon {
    display: inline-block;
    position: relative;
    top: 9px;
  }
  
  button {
    background-color: @tweet-button;
    border: none;
    position: relative;
    top: 8px;
    width: 40px;
    height: 32px;
    margin: 0;
    .border-radius(4px);
    opacity: 0.7;
    cursor: pointer;
    
    &:hover {
      opacity: 1;
    }
  }
  
  button .icon {
    margin: 0;
    margin-left: 4px;
    position: static;
    color: @white;
  }
  
  > * {
    margin-right: 1.5em;
  }
  
  a:hover .icon {
    color: @header-highlight-lighter;
  }
}

.nav-icon {
  width: 23px;
  height: 23px;
  margin-top: 2px;
  color: @header-inactive;
  border: none;
  float: left;
  font-family: "rosettaicons";
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.icon {
  width: 21px;
  height: 21px;
  font-family: "rosettaicons";
  font-size: 21px;
  line-height: 1;
  color: rgb(146, 156, 163);
  -webkit-font-smoothing: antialiased;
}

.icon-bird {
  font-family: "rosettaicons";
  font-size: 23px;
  color: @bird-colour;
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 50%;
  margin-left: -23px;
}

.icon-bird:before { content: "\f179"; }

.home-icon:before { content: "\f053"; }

.connect-icon:before { content: "\f050"; }

.discover-icon:before { content: "\f052"; }

.me-icon:before { content: "\f056"; }

.messages-icon:before { content: "\f054"; }

.settings-icon:before { content: "\f059"; }

.tweet-icon:before { content: "\f029"; }

.favourite-icon:before { content: "\f147"; }

.retweet-icon:before { content: "\f152"; }

.reply-icon:before { content: "\f151"; }

// Main
//------------------

main {
  width: 936px;
  margin-left: auto;
  margin-right: auto;
  padding: 56px 23px 15px;
  .clearfix;
}

section header h1 {
  color: @heading-colour;
  font-size: 22px;
  font-weight: 200;
  line-height: 1em;
  margin: 0;
}

.sidebar {
  width: 290px;
  float: left;
  margin-right: 10px;
  
  .standard-box {
    padding: 1em;
  }
}

.tweet-container {
  width: 590px;
  float: left;
  
  > header {
    padding: 12px;
    border-bottom: 1px solid rgb(232, 232, 232);
  }
  
  .tweet {
    border-bottom: 1px solid rgb(232, 232, 232);
    padding: 12px;
    position: relative;
    .clearfix;
    
    &:hover {
      background-color: @tweet-background-hover;
      cursor: pointer;
      
      .inline-reply {
        color: @tweet-reply-hover;

        .icon {
          color: @tweet-reply-hover;
        }
      }
    }
    
    .extra-info {
      width: 100%;
      display: block;
      font-size: 12px;
      color: @tweet-extra-info;
      margin-bottom: 5px;
      padding-left: 57px;
      
      a {
        color: @tweet-extra-info;
        
        &:hover {
          color: @tweet-extra-hover;
        }
      }
      
      &:hover a {
        text-decoration: underline;
      }
      
      &:before {
        font-family: 'rosettaicons';
        color: @white;
        content: "\f152";
        background-color: @retweet-icon-colour;
        padding: 0 2px 2px;
        line-height: 1em;
        font-size: 13px;
        display: block;
        position: absolute;
        left: 43px;
        top: 9px;
        .border-radius(3px);
        -webkit-font-smoothing: antialiased;
      }
    }
    
    > img {
      width: 48px;
      height: 48px;
      float: left;
      margin-right: 10px;
      .border-radius(5px);
    }
    
    .body {
      width: 75%;
      float: left;
      
      header a:hover {       
        text-decoration: none;
        
        h1 {
          text-decoration: underline;
          color: @link-colour;
        }
      }
      
      h1 {
        color: @tweet-name-colour;
        font-weight: bold;
        font-size: 14px;
        display: inline;
      }
      
      .username {
        color: @tweet-username-colour;
        font-size: 13px;
        margin-left: 2px;
      }
      
      .time {
        color: @tweet-username-colour;
        font-size: 13px;
        margin-left: 2px;
        
        &:before {
          content: '.';
          margin-right: 0.5em;
          position: relative;
          bottom: 4px;
        }
      }
      
      header {
        margin-bottom: 4px;
      }
      
      p {
        font-size: 14px;
        line-height: 18px;
      }
    }
    
    > ul {
      float: right;
      
      li a {
        width: 100%;
        display: block;
        text-align: center;
        margin-bottom: 3px;
        
        span {
          color: @tweet-icons-colour;
          display: inline-block;
          font-size: 24px;
        }
        
        &:hover span {
          color: @tweet-icons-hover;
        }
      }
    }
    
    .inline-reply {
      font-size: 12px;
      color: @tweet-reply;
      
      .icon {
        color: @tweet-reply;
      }
      
// This next bit seems stupid, but it's the only way I could get the right effect...
// May try to fix later if I have time...
      &:hover {
        text-decoration: none;
        
        .reply-text {
          text-decoration: underline;
        }
      }
    }
  }
}

.standard-box {
  background-color: @white;
  .border-radius(5px);
  border: 1px solid #e1e8ed;
  margin-bottom: 10px;
  overflow: hidden;
}

.user-info {
  .border-radius(5px);
  margin-bottom: 10px;
  overflow: hidden;
  background-color: @white;
  
  header {
    background-color: #222;
    height: 145px;
    padding-top: 1em;
    
    a {
      color: @white;
      
      &:hover {
        text-decoration: none;
        
        h1 {
          text-decoration: underline;
        }
      }
    }
    
    img {
      width: 54px;
      height: 54px;
      border: 3px solid @white;
      .border-radius(4px);
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
    
    h1 {
      font-size: 21px;
      font-weight: bold;
      text-align: center;
      padding-top: 10px;
      color: @white;
    }
    
    .sidebar-profile-username {
      font-size: 14px;
      width: 100%;
      text-align: center;
      padding-top: 0.5em;
    }
  }
  
  dl a {
    display: inline-block;
    padding: 0.5em 0.8em;
    
    &:hover {
      text-decoration: none;
    }
  }
  
  dt {
    color: #999;
    font-size: 10px;
    line-height: 16px;
  }
  
  dd {
    font-size: 20px;
    color: @header-highlight-lighter;
  }
  
  footer {
    background-color: @reply-background;
    padding: 10px 12px;
    
    input {
      width: 100%;
      border: 1px solid @reply-box-border-colour;
//      color: rgb(170, 170, 170);
      font-size: 13px;
      padding: 6px 8px 5px;
    }
  }
}

.trends {
  header {
    margin-bottom: 0.5em;
  }
  h1 {
    display: inline-block;
  }
  
  .header-options {
    display: inline;
    
    li {
      display: inline;
      
      &:before {
        content: ".";
        margin-right: 4px;
        position: relative;
        bottom: 3px;
        color: @dot-grey;
      }
    }
  }
  
  li {
    font-size: 12px;
    line-height: 20px;
    
    a {
      color: @light-blue;
    }
  }
}

.secondary-nav {
  &:hover a {
    color: @dark-grey;
  }
  
  li {
    font-size: 12px;
    line-height: 1.5em;
    display: inline-block;
    color: @footer-links-colour;
    padding-right: 5px;

    a {
      color: @footer-links-colour;
    }
  }
}